n8n automations/ReelPulseINSERT.json
{
  "name": "Projeto Brandão INSERT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SEU-WEBHOOK-UUID",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        -192
      ],
      "id": "36822c03-5d82-4696-b68c-17566d8c1d15",
      "name": "Webhook",
      "webhookId": "SEU-WEBHOOK-UUID"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SEU-SPREADSHEET-ID",
          "mode": "list",
          "cachedResultName": "ReelPulse",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/SEU-SPREADSHEET-ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/SEU-SPREADSHEET-ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_url": "={{ $json.body.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "instagram_external_id",
              "displayName": "instagram_external_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "likes_count",
              "displayName": "likes_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "views_count",
              "displayName": "views_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "plays_count",
              "displayName": "plays_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comments_count",
              "displayName": "comments_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "thumbnail_url",
              "displayName": "thumbnail_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -192
      ],
      "id": "8df11441-e5d3-4d20-8bb3-11ad79c922e2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aBw34yMl7qJhTD8G",
          "name": "Google Sheets Brandão account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ORqMo1d017Uoct5x",
          "mode": "list",
          "cachedResultName": "ReelPulseSCRAP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.video_url }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        256,
        -192
      ],
      "id": "65311027-eacd-49bf-b4ec-3646a993dbcb",
      "name": "Call 'ReelPulseSCRAP'"
    },
    {
      "parameters": {
        "content": "## INSERT\n- Webhook de inserção do link do Reels na Planilha / Supabase;\n- Chama o workflow \"SCRAP\" para retirara as informações do vídeo;",
        "height": 320,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -336
      ],
      "typeVersion": 1,
      "id": "886517a9-9eb2-4539-bbe1-cda72ab5a159",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Call 'ReelPulseSCRAP'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ReelPulseSCRAP'": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "04b1663c-eabf-4ef0-bcfe-d14749e33c17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "SEU-INSTANCE-ID"
  },
  "id": "4w1Nnlfr8hydJzve",
  "tags": [
    {
      "updatedAt": "2026-01-05T13:30:50.787Z",
      "createdAt": "2026-01-05T13:30:42.686Z",
      "id": "quozb3CnXqcSOoa3",
      "name": "ReelPulseWorkflow"
    }
  ]
}
